.top-bar, .top-bar ul {
  background-color: #333333; }

.top-bar .menu-text {
  color: white; }
.top-bar .menu > .menu-text > a {
  display: inline;
  padding: 0; }
.top-bar .active-link {
  font-weight: bold; }
